*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --principal: #1775d1;
  --bg-color: #f4f4f4;
  --text-color: #686868;
  --text-detail-color: #666666;
  --bg-card:#fff;
  --red-color:#F44336;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--bg-color);
}

.head {
  background-color: var(--principal);
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  position: sticky;
  top: 0;
}

.head > h2 {
  color: var(--bg-card);
}

input[type="text"] {
  width: 200px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: var(--bg-card);
  background-image: url("/style/icons/loup.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 10px 30px;
  transition: width 0.4s ease-in-out;
  border-radius: 5px;
  color: var(--text-color);
}

input[type="text"]:focus {
  width: 90%;
}

.head > input[type="text"] {
  margin: 10px 0;
}

.items {
  padding: 15px 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.card-item {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  background-color: var(--bg-card);
  width: 95%;
  min-height: 80px;
  position: relative;
}

.card-head {
  display: flex;
  column-gap: 5px;
}

spam{
    color: var(--text-detail-color);
    font-style: italic;
}
.word {
  color: var(--principal);
  font-size: 24px;
  line-height: 28px;
}
.word::first-letter {
  color: var( --text-color);
  text-transform: uppercase;
}

.description {
  margin-top: 10px;
  color: var(--text-detail-color);
  font-size: 18px;
  line-height: 21px;
}

.description::first-letter {
  color: var(--red-color);
  text-transform: uppercase;
}

.variant{
  margin-top: 5px;
  font-style: italic;
  font-size: 12;
  color: var( --text-color);
}

card-item{
  z-index: -1;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}